body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", system-ui;
    /* font-optical-sizing: auto; */
    font-weight: 700;
    font-style: normal;
    color: #3B5D35;
    background-color: #3B5D35;

}

p {
    font-weight: 300;
    font-size: small
}
h2 { 
    font-family: "Raleway", system-ui;
    /* font-optical-sizing: auto; */
    font-weight: 800;
    font-style: normal;
    color: rgb(37, 227, 72);
    margin: 0;
}
h1 {
    font-family: "Raleway", system-ui;
    /* font-optical-sizing: auto; */
    font-weight: 800;
    font-style: normal;
    color:White;
    margin: 0;
    font-size: 4rem;
}


nav img {
    width: 100px;
}
.navbar-support {
    padding-top: 10px;
}

.nav-link {
    color: #3B5D35;
}
.navbar-icon {
    width: 25px;
    margin-right: 20px;
}
.contact {
    width: 15px;
}

.hero-video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: bottom; 
}
/* button {
    font-weight: bold;
} */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem; 
    }

}